:root.theme-light {
  --accent-color: #FF8DCB;
  --title-color: #FFC2E6;
  --text-color: #353430;
  --background-color: #FFF1F7;
  --decor-color: #353430;
  --button-color: #353430;
  --button-hover-color: rgba(53, 52, 48, 0.4);
  --section-title-color: #353430;
  --card-title-color: #353430;
  --card-text-color: #353430;
  --link-shadow: #FF8DCB;
  --link-hover-color: #353430;
}

.theme-light .page {
  background-image: url('../images/cover-image-light.png');
}



