.page {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 1.3;
  background-image: url('../images/cover-image-dark.png');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  padding: 10px;
  min-height: 100vb;
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: center;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  z-index: 1;
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-top: 1px solid var(--decor-color);
  border-right: 1px solid var(--decor-color);
}

.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-bottom: 1px solid var(--decor-color);
  border-left: 1px solid var(--decor-color);
}

.header__decorative-text {
  position: absolute;
  top: 10px;
  right: 38px;
  color: var(--accent-color);
  font-size: 18px;
  line-height: 1.39;
  text-transform: uppercase;
}

.header__decorative-dot {
  position: absolute;
  top: 18px;
  right: 18px;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__title {
  color: var(--title-color);
  font-size: var(--header-title-size-mobile);
  font-weight: 700;
  line-height: 0.825;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--card-title-color);
  font-weight: 700;
}

.header__text {
  max-width: 355px;
}

.header__theme-menu {
  justify-self: end;
  margin-block-start: 65px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  background: transparent;
  border: 1px solid transparent;
  color: var(--button-color);
  font-family: inherit;
  font-size: 18px;
  padding: 0 13px;
  cursor: pointer;
  line-height: 1;
  text-transform: lowercase;
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-color);
}

.main {
  padding: 40px 10px;
  display: flex;
  flex-direction: column;
  gap: var(--section-gap);
}

.section {
  display: grid;
  gap: 20px;
}

.section__title {
  color: var(--section-title-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
}

.section__content {
  display: flex;
  flex-direction: column;
  gap: var(--block-gap);
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__title {
  font-size: 18px;
  line-height: 1.3;
}

.card__text {
  line-height: 1.3;
}

a {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--link-shadow);
}

a:hover {
  border-bottom: 1px solid var(--text-color);
}

a:focus {
  outline: none;
}

a:focus-visible {
  border: 1px solid var(--text-color);
}

.gallery__grid {
  display: grid;
  gap: 10px;
}

.gallery__image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.footer {
  position: relative;
  padding: 10px;
  min-height: 100vb;
  display: grid;
  place-items: center;
}

.footer__title {
  color: var(--title-color);
  font-size: var(--header-title-size-mobile);
  font-weight: 700;
  line-height: 0.825;
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
  .header {
    padding: 20px;
  }
  
  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }
  
  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }
  
  .header__decorative-text {
    top: 20px;
    right: 48px;
  }
  
  .header__decorative-dot {
    top: 28px;
    right: 28px;
  }
  
  .header__title {
    margin-inline-start: -20px;
  }
  
  .header__text {
    max-width: 364px;
    justify-self: end;
  }
  
  .main {
    padding: 60px 20px;
    gap: 80px;
  }
  
  .section.reasons,
  .section.solutions {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }
  
  .section.gallery {
    gap: 20px;
  }
  
  .gallery__grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .gallery__image:first-child {
    grid-column: span 2;
  }
  
  .gallery__image:nth-child(2) {
    grid-row: span 2;
  }
  
  .gallery__image:last-child {
    grid-column: span 2;
  }
  
  .footer__title {
    font-size: var(--header-title-size-desktop);
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
  }
  
  .header__theme-menu-list {
    flex-direction: row;
  }
  
  .header__title {
    font-size: var(--header-title-size-desktop);
  }
  
  .header__text {
    max-width: 491px;
  }
  
  .section.reasons .section__content,
  .section.solutions .section__content {
    grid-column: 2;
  }
  
  .section.solutions .section__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .gallery__grid {
    gap: 20px;
  }
  
  .gallery__image:first-child {
    grid-column: span 2;
  }
  
  .gallery__image:nth-child(2) {
    grid-row: span 2;
  }
  
  .gallery__image:nth-child(3) {
    grid-row: span 2;
  }
  
  .gallery__image:nth-child(5) {
    grid-column: span 2;
  }
}